<!doctype html>
<html lang = "en" class = "no-js">
  <head>
    <meta charset="utf-8">
    <!--[if IE]><![endif]-->

    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame 
         Remove this if you use the .htaccess -->
    <title> Blog test </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">   
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
    <!-- Place favicon.ico and apple-touch-icon.png in the root of your domain and delete these references -->
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <!-- CSS : implied media="all" -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/boilerplate.css', v='1')}}">
    <!-- CSS : My style -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <!-- For the less-enabled mobile browsers like Opera Mini -->
    <link rel="stylesheet" media="handheld" href="{{url_for('static', filename='css/handheld.css', v=1)}}">
    <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
    <script src="{{url_for('static', filename='js/modernizr-1.5.min.js')}}"></script>
  </head>
  
  <!--[if lt IE 7 ]> <body class="ie6"> <![endif]-->
  <!--[if IE 7 ]>    <body class="ie7"> <![endif]-->
  <!--[if IE 8 ]>    <body class="ie8"> <![endif]-->
  <!--[if IE 9 ]>    <body class="ie9"> <![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--> <body> <!--<![endif]-->
  <div id = "container">
 <!-- <header>
    <div class = "login_bar">
      {% if session['user_id'] %}
      <p><a href = "{{url_for('logout')}}">Logout</a></p>
    {% else %}
      <p><a href = "{{url_for('login')}}">Login</a></p>
    {% endif %}
    {% for message in get_flashed_messages() %}
          <div class = flash>{{ message }} </div>
    {% endfor %}
  </div> -->
   <header>
   <div id="nav_title">
      <h1>ProudlyGeek's Blog</h1>
      <ul>
        <li><a href="/">About</a></li>
        <li><a href="/">My Projects</a></li>
        <li><a href="/">Blog</a></li>
      </ul>
    </div>
    </header>
    <div id = "main">
      {% block body %}
      {% endblock %}
    </div>
    <footer>
    </footer>
  </div>
  </div>
  <link rel="stylesheet" href="{{url_for('static', filename='css/syntax-highlight.css')}}">
</body>
</html>
