{% extends "layout.html" %}
{% block title %}
    {{title}}
{% endblock %}

{% block body %}
<div id = "entries">
{% for entry in entries %}
  <div class = "entry">
  {% set year, month, day = entry.creation_date.split('-') %}
    <div class = "entry_title">
      <h2 class="title_fontface"><a href = {{url_for('view_entry', year = year, month = month, day = day, title = entry.slug) }}>{{ entry.title }}</a></h2>
    </div>
    <ul class = "tags">
    {% for tag in entry.tags %}
      <li>
        <a class="tags_fontface" rel = "tag" href ="{{url_for('list_entries', tagname=tag)}}">{{ tag }}</a>
      </li>
    {% endfor %}

    </ul>
    <div class = "entry_body">
      <div class = "date_comments">
        <div class = "date">
          <p class="date_fontface">{{ entry.human_date }}</p>
          <div class = "author">Posted by {{entry.author}}</div>
        </div>
        <div class= "comments_count">
          <a class= "comments_fontface" href = "{{url_for('view_entry', year = year, month = month, day = day, title = entry.slug)}}#disqus_thread" data-disqus-identifier="{{entry.slug}}"></a>
        </div>
      </div>
      <div class = "text">
      {{ entry.content|safe }}
      </div>
      {% if entries|count == 1 %}
      <div id = comments>
        <div id="disqus_thread"></div>
          <script type="text/javascript">
          var disqus_shortname = 'proudlygeek-blog'; // required: replace example with your forum shortname
          var disqus_identifier = '{{entry.slug}}';
          var disqus_url = 'http://proudlygeek.appspot.com{{url_for('view_entry', year = year, month = month, day = day, title = entry.slug) }}';

          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
      {% endif %}
    </div>
  </div>
      {% else %}
    <em>Unbelievable. No entries here so far</em>
  </div>
  {% endfor %}
  {% if pages is defined  and entries|count > 1%}
  <div id = "pagination">
  {% if actual_page == 1 %}
    <span>‹‹ previous</span>
  {% else %}
    <a href={{url_for('list_entries', page=actual_page-1)}}>‹‹ previous</a>
  {% endif %}
  {% for page in pages %}
    {% if page == actual_page or page == '...' %}
      <span id = 'actual_page'>{{page}}</span>
    {% else %}
      <a href="{{url_for('list_entries', page=page)}}">{{page}}</a>
    {% endif %}
  {% endfor %}
  {% if actual_page == pages|count %}
    <span>next ››</span>
  {% else %}
    <a href="{{url_for('list_entries', page=actual_page+1)}}">next ››</a>
  </div>
  {% endif %}
</div>
  {% endif %}
</div>
<script type="text/javascript">
    var disqus_shortname = 'proudlygeek-blog';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
{% endblock %}
