/*
Custom CSS
*/

@font-face {
    font-family: 'ChunkFiveRegular';
    src: url('fonts/Chunkfive-webfont.eot');
    src: local('☺'), url('fonts/Chunkfive-webfont.woff') format('woff'), url('fonts/Chunkfive-webfont.ttf') format('truetype'), url('fonts/Chunkfive-webfont.svg#webfont90E2uSjN') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* A font by Jos Buivenga (exljbris) -> www.exljbris.nl */

@font-face {
    font-family: 'FontinSansItalic';
    src: url('fonts/fontin_sans_i_45b-webfont.eot');
    src: local('☺'), url('fonts/fontin_sans_i_45b-webfont.woff') format('woff'), url('fonts/fontin_sans_i_45b-webfont.ttf') format('truetype'), url('fonts/fontin_sans_i_45b-webfont.svg#webfont5ZhrQS12') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FontinSansBold';
    src: url('fonts/fontin_sans_b_45b-webfont.eot');
    src: local('☺'), url('fonts/fontin_sans_b_45b-webfont.woff') format('woff'), url('fonts/fontin_sans_b_45b-webfont.ttf') format('truetype'), url('fonts/fontin_sans_b_45b-webfont.svg#webfontHj0xk2xk') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FontinSansRegular';
    src: url('fonts/fontin_sans_r_45b-webfont.eot');
    src: local('☺'), url('fonts/fontin_sans_r_45b-webfont.woff') format('woff'), url('fonts/fontin_sans_r_45b-webfont.ttf') format('truetype'), url('fonts/fontin_sans_r_45b-webfont.svg#webfontfzHT0V6g') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SilkscreenNormal';
    src: url('fonts/slkscr-webfont.eot');
    src: local('☺'), url('fonts/slkscr-webfont.woff') format('woff'), url('fonts/slkscr-webfont.ttf') format('truetype'), url('fonts/slkscr-webfont.svg#webfontyngtz8Ka') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SilkscreenBold';
    src: url('fonts/slkscrb-webfont.eot');
    src: local('☺'), url('fonts/slkscrb-webfont.woff') format('woff'), url('fonts/slkscrb-webfont.ttf') format('truetype'), url('fonts/slkscrb-webfont.svg#webfontiGdFU2T7') format('svg');
    font-weight: normal;
    font-style: normal;
}


h2.title_fontface
{
    font: 36px 'ChunkFiveRegular', Arial, sans-serif;letter-spacing: 0;
}

p.date_fontface
{
    font: 28px 'ChunkFiveRegular', Arial, sans-serif;letter-spacing: 0;
}

a.tags_fontface
{
    font: 16px 'SilkscreenNormal', Arial, sans-serif;letter-spacing: 0;
}

a.comments_fontface
{
    font: 16px 'SilkscreenBold', Arial, sans-serif;letter-spacing: 0;
}

body 
{
    background-color:#EBF2DF
}

pre 
{
    white-space:pre;   
}

#entries .entry
{
    margin-top:25px;
    margin-bottom:25px;
    overflow:hidden;
}
#entries 
{
    background-color:#F5F8F1; 
    width:800px;
    margin:auto;
    -moz-border-radius:20px;
    border-radius:20px;
    padding:20px;
    border:2px #E2E8DA solid;
    rgba(0, 0, 0, 0.17);
}

#entries li, #entries p
{
    line-height:1.5em;
}

.entry_title 
{
    /*float:left;*/
    margin-top:10px;
    margin-left:156px;
    margin-right:20px;
    margin-bottom:20px;
}

.entry_title h2 a
{
    color:black;
    text-decoration:none;
}

.entry_title h2 a:hover
{
    text-decoration:underline;
}



#entries .tags 
{
    list-style: none outside none;
    margin-left:158px;
    overflow: hidden;
}

#entries .tags li
{
    float:left;
    margin-right:5px;
    margin-bottom:5px;
}

#entries .tags li a
{
    -moz-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    border:1px #93968E solid;
    background: none repeat scroll 0 0 #FFFFFF;
    color: #000000;
    display:block;
    padding:2px 10px 2px 10px;
    text-decoration:none;
}

#entries .tags li a:hover
{
    text-decoration:underline;
}

.entry_body .date_comments
{
  float:left;
  width: 140px;
}

#entries .date
{
  margin-left:0;
  margin-top:4px;
  padding:15px 10px;
  margin-right:0px;
  background-color:#7CA240;
  color:#F2F7E9;
  font-size:200%;
  text-align:center;
  -moz-border-radius:5px 5px 0 0;
  border-radius:5px 5px 0 0;
}

#entries .date .author
{ 
  font: 12px 'FontinSansRegular', Arial, sans-serif;letter-spacing: 0;
}

#entries .comments_count
{
  float:left;
  width:100%;
  text-align:center;
  background-color:#7AA5A9;
  -moz-border-radius:0px 0px 5px 5px;
  border-radius:0px 0px 5px 5px;
  padding: 15px 0px 15px 0px;
}

#entries .comments_count a
{ 
  color:#F2F7E9;
  text-decoration:None; 
}

#entries .comments_count a:hover
{
  text-decoration:underline;
}

#entry_body
{
  margin-top:10px;
}

.text
{
  margin-left:156px;
}

.text p
{
  font: 14px 'FontinSansRegular', Arial, sans-serif;letter-spacing: 0;
}

.text .left
{
    /*clear:left;*/
    float:left;
    padding:3px;
    margin: 0em 1.5em 1em 0em;
    max-width:40%;
}

.text p img
{
    line-height:normal;
}

.text .center
{
    display:block;
    /*clear:both;*/
   /*margin: 0em 1em 1em 0em;*/
    margin: 0 auto 1em;
    max-width:100%;
    padding:3px;
}

.text .readmore
{
  font: 14px 'FontinSansItalic', Arial, sans-serif;letter-spacing: 0;
  clear:left;
  float:left;
  margin-top:10px;
}

.text hr
{
    margin-top:43px;
}

#entries #pagination
{
    font: 16px 'SilkscreenNormal', Arial, sans-serif;letter-spacing: 0;
    text-align:center;  
}

#entries #pagination #actual_page
{
    
    font: 16px 'SilkscreenBold', Arial, sans-serif;letter-spacing: 0;
}
