{% extends "layout.html" %}
{% block body %}
<div id = "entries">
{% for entry in entries %}
  <div class = "entry">
  {% set year, month, day = entry.creation_date.split('-') %}
    <div id = "entry_title">
      <h2><a href = {{url_for('view_entry', year = year, month = month, day = day, title = entry.slug) }}>{{ entry.title }}</a></h2>
    </div>
    <ul class = "tags">
    {% for tag in entry.tags %}
      <li>
        <a rel = "tag" href ="{{url_for('list_entries_by_tag', tagname=tag)}}">{{ tag }}</a>
      </li>
    {% endfor %}
    </ul>
    <div id = "entry_body">
      <div class = "date">
        <p>{{ entry.human_date }}</p>
      </div>
      <div id = "text">
        <p>{{ entry.content|safe }}</p>
      </div>
    </div>
  </div>
      {% else %}
    <em>Unbelievable. No entries here so far</em>
  </div>
  {% endfor %}
  {% if pages is defined %}
  <div class = "pagination">
  {% if actual_page == 1 %}
    <span>‹‹ previous</span>
  {% else %}
    <a href={{url_for('list_entries', page=actual_page-1)}}>‹‹ previous</a>
  {% endif %}
  {% for number in range(1, pages+1) %}
    {% if number == actual_page %}
      <span>{{number}}</span>
    {% else %}
      <a href="{{url_for('list_entries', page=number)}}">{{number}}</a>
    {% endif %}
  {% endfor %}
  {% if actual_page == pages %}
    <span>next ››</span>
  {% else %}
    <a href="{{url_for('list_entries', page=actual_page+1)}}">next ››</a>
  </div>
  {% endif %}
  {% endif %}
</div>
{% endblock %}
