{% extends "layout.html" %}
{% block body %}
<div id= "entries">
  {% for entry in entries %}
  {% set year, month, day = entry.creation_date.split('-') %}
  <header>
    <a href = {{url_for('view_entry', year = year, month = month, day = day, title = entry.slug) }}>{{ entry.title }}</a>
  {% for tag in entry.tags %}
    <small>{{ tag }}</small>
  {% endfor %}
  <p><small>On {{ entry.creation_date }} {{entry.author}} wrote:</small></p>
  </header>
  <p>{{ entry.body|safe }}</p>
  {% else %}
  <em>Unbelievable. No entries here so far</em>
  {% endfor %}
</div>
{% endblock %}
